# Common
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Database engine pgsql or mssql
DB_ENGINE=pgsql
# "true" if you want encryption
DB_SSL=false
# "true" if you want to trust the server certificate (only applicable if DB_SSL=true)
DB_TRUST_CERTIFICATE=false
# Time to live for DB sessions in minutes
DB_TTL_IN_MINUTES=120

NPG_POOLING_ENABLED=true
NPG_API_MAX_POOL_SIZE_ODS=20
NPG_API_MAX_POOL_SIZE_ADMIN=20
NPG_API_MAX_POOL_SIZE_SECURITY=20
NPG_API_MAX_POOL_SIZE_MASTER=20

TPDM_ENABLED=true
LOGS_FOLDER=./logs
BASE_URL=https://localhost
BASE_URL_DEV=http://localhost:3333
ALLOWED_ORIGINS=${BASE_URL}

# Ed-Fi v7.3.0 with Data standard 5.2.0

# Next two lines are for the minimal template
# ODS_DB_IMAGE_7X=ods-api-db-ods-minimal
# ODS_DB_TAG_7X=v7.3@sha256:579a324a39d8439f1b4087112f586ba665ca292e8ddaf3923b6718f11ac8ab0e

# These two are for the populated template
ODS_DB_IMAGE_7X=ods-api-db-ods-sandbox
ODS_DB_TAG_7X=v7.3@sha256:154ae3e8e666c99f57ece35a7d0ae596f7e38fed9daf164d7c37eb171777f121

# ODS_API_TAG_7X=v7.3@sha256:cd359af95d9cdb68753c67037b9c89f2103c0f706db34bba291321b396e16869
ODS_API_TAG_7X=pre-732-5.2.0
SWAGGER_TAG_7X=pre-732-5.2.0

ADMIN_DB_TAG_7X=pre
#ADMIN_DB_TAG_7X=v2.2.1@sha256:1d69fa553fcd3e1d27a35485e2c0f428b95cf1a642dd019844a81af4def01714

# Generate a new encryption key using `openssl rand -base64 32`
ODS_CONNECTION_STRING_ENCRYPTION_KEY=vLgnKf+MyoAsEmeGsh+n+rKRN1bGS8s1b0eCo6zc5+o=

# API Configuration for Node to trust the self-signed certificate
NODE_EXTRA_CA_CERTS=/app/ssl/server.crt

ODS_API_VIRTUAL_NAME=api
ONEROSTER_API_VIRTUAL_NAME=oneroster-api
DOCS_VIRTUAL_NAME=swagger

LEA_KEY=<bootstrap api client key, authorized for LEA access>
LEA_SECRET=<bootstrap api client secret, authorized for LEA access>
SCHOOL_KEY=<bootstrap api client key, authorized for SCHOOL access>
SCHOOL_SECRET=<bootstrap api client secret, authorized for SCHOOL access>

ODS_API_HEALTHCHECK="wget --no-check-certificate --spider http://localhost/health"
SWAGGER_HEALTHCHECK_TEST="wget --no-check-certificate --spider http://localhost/health"

PAGING_OFFSET=0
PAGING_LIMIT=25
ENABLE_APPLICATION_RESET_ENDPOINT=true

TARGET_DB=EdFi_Ods
TEMPLATE_DB=EdFi_Ods_Populated_Template

# oneroster-specific settings
ONEROSTER_API_VIRTUAL_NAME=oneroster-api
PORT=3000
# Database type for OneRoster API (postgres or mssql)
DB_TYPE=postgres
API_BASE_PATH=

DB_HOST=db-ods
DB_USER=${POSTGRES_USER}
DB_PASS=${POSTGRES_PASSWORD}
DB_PORT=5432
DB_NAME=${TARGET_DB}
# set to `prod` or `` (empty) for production
NODE_ENV=dev
DB_SSL=false
DB_SSL_CA=

# pg-boss settings:
PGBOSS_CRON=*/15 * * * *

CORS_ORIGINS=${BASE_URL}
ONEROSTER_ARTIFACT_VERSION=5.2.0
ONEROSTER_ARTIFACT_DIR=/app/standard/${ONEROSTER_ARTIFACT_VERSION}/artifacts/pgsql/core

# Signing keys for JWT issuance (set here or run start-services.ps1 -GenerateSigningKeys)
SECURITY__JWT__PRIVATEKEY=-----BEGIN PRIVATE KEY-----\nMIIEPAoGBALa7i/4j5gCc4bA5pWud\n-----END PRIVATE KEY-----
SECURITY__JWT__PUBLICKEY=-----BEGIN PUBLIC KEY-----\nMIQAB\n-----END PUBLIC KEY-----

# OAuth2 settings - these must be filled out!
OAUTH2_ISSUERBASEURL=${BASE_URL}/${ODS_API_VIRTUAL_NAME}
OAUTH2_AUDIENCE=${BASE_URL}/${ONEROSTER_API_VIRTUAL_NAME}
OAUTH2_TOKENSIGNINGALG=RS256
OAUTH2_PUBLIC_KEY_PEM=${SECURITY__JWT__PUBLICKEY}

# trust proxy tells your Node/Express app that it is running behind a reverse proxy (like IIS/ARR/nginx) and should trust forwarded headers.
TRUST_PROXY=true

# OneRoster Multi-tenancy/ context routing settings
# Common setting between OneRoster and ODS API for multi-tenancy enablement
MULTITENANCY_ENABLED=false

# Ods context route template
# Examples:
#   ODS_CONTEXT_ROUTE_TEMPLATE={schoolYearFromRoute:range(2026,2027)}
# Leave empty to disable context routing
ODS_CONTEXT_ROUTE_TEMPLATE=

# PostgreSQL Example:
# TENANTS_CONNECTION_CONFIG={"Tenant1":{"adminConnection":"host=localhost;port=5432;database=EdFi_Admin_Tenant1;username=postgres;password=pass1"},"Tenant2":{"adminConnection":"host=localhost;port=5432;database=EdFi_Admin_Tenant2;username=postgres;password=pass2"}}
#
# MSSQL Example:
# TENANTS_CONNECTION_CONFIG={"Tenant1":{"adminConnection":"server=localhost;database=EdFi_Admin_Tenant1;user id=sa;password=pass1;encrypt=false"},"Tenant2":{"adminConnection":"server=localhost;database=EdFi_Admin_Tenant2;user id=sa;password=pass2;encrypt=false"}}
TENANTS_CONNECTION_CONFIG=

# SINGLE-TENANT MODE (Default EdFi_Admin Connection)
# For PostgreSQL (example):
# CONNECTION_CONFIG={"adminConnection":"host=localhost;port=5432;database=EdFi_Admin;username=postgres;password=P@ssw0rd"}
# For MSSQL (example):
CONNECTION_CONFIG={"adminConnection":"server=localhost;database=EdFi_Admin;user id=sa;password=P@ssw0rd;encrypt=false;TrustServerCertificate=true"}

